<!--<yt-player class="p-6 place-content-center"  [videoId]="'skSpvzyEljo'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'320bXi8AJ3o'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<!--<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>-->
<div class="player-wrapper">
  <vg-player class="videos my-5 place-content-center" (click)="onClickShowVideo() "  >
<!--    <vg-overlay-play></vg-overlay-play>-->
    <video  #media [vgMedia]="src" id="1video" preload="none" controls poster="./assets/preload.png">
      <source src="./assets/1.mp4" type="video/mp4">
    </video>
<!--    <yt-player class="p-6 place-content-center"  [videoId]="'skSpvzyEljo'"  [options] = {}> </yt-player>-->
  </vg-player>
  <vg-player class="my-5 place-content-center">
    <video #media [vgMedia]="src" id="2video" preload="none" controls poster="./assets/preload.png">
      <source src="./assets/2.mp4" type="video/mp4">
    </video>
  </vg-player>
  <vg-player class="my-5 place-content-center">
    <video #media [vgMedia]="src" id="3video" preload="none" controls poster="./assets/preload.png">
      <source src="./assets/3.mp4" type="video/mp4">
    </video>
  </vg-player>
  <vg-player class="my-5 place-content-center">
    <video  #media [vgMedia]="src" id="4video" preload="none" controls poster="./assets/preload.png">
      <source src="./assets/4.mp4" type="video/mp4">
    </video>
  </vg-player>
  <vg-player class="my-5 place-content-center">
    <video #media [vgMedia]="src" id="5video" preload="none" controls poster="./assets/preload.png">
      <source src="./assets/5.mp4" type="video/mp4">
    </video>
  </vg-player>
</div>

