<yt-player class="p-6 place-content-center" [videoId]="'skSpvzyEljo'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'320bXi8AJ3o'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>
<yt-player class="p-6 place-content-center" [videoId]="'Ti2Q4sQkNdU'" (stateChange)="onStateChange($event)" [options] = {}> </yt-player>


